.development-ribbon {
  content: '';
  background-image: url('/assets/images/staging-tip.svg');
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  left: 0;
  height: 120px;
  width: 120px;
  z-index: 1;
  pointer-events: none;
}
