@charset "UTF-8";
html,body {width: 100%;height: 100%;line-height: 1.15;-webkit-text-size-adjust: none;-webkit-overflow-scrolling: touch;}
body,h1,h2,h3,h4,h5,h6,p,blockquote,dl,dt,dd,ol,pre {margin: 0;}
button,input,textarea,th,td {padding: 0;}
fieldset,ul,b {margin: 0;padding: 0;}
body,button,input,select,textarea {font: 16px/1.15 'Microsoft YaHei','PingFang SC',HelveticaNeue,Helvetica,Arial,'\5b8b\4f53',sans-serif;}
h1,h2,h3,h4,h5,h6 {font-size: 100%;}
ul,ol,li {list-style: none;}
img {border:none;vertical-align: middle;}
em,cite,b {font-style: normal;}
a {text-decoration: none;color: inherit;outline: none;}
button,input,select,textarea {font-size: 100%;border: none;outline: none;}
input,select {vertical-align: middle;font-size: 100%;font-family: inherit;}
table {border-spacing: 0;border-collapse: collapse;}
hr {border: none;height: 1px;}
i,em {font-style: normal;}
/* 浏览器基础样式纠正 */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {display: block;}
hr {box-sizing: content-box;height: 0;overflow: visible;}
pre {font-family: monospace, monospace;font-size: 1em;}
small {font-size: 80%;}
sub, sup {font-size: 75%;line-height: 0;position: relative;vertical-align: baseline;}
sub {bottom: -0.25em;}
sup {top: -0.5em;}
button, input {overflow: visible;}
button, select {text-transform: none;}
details {display: block;}
summary {display: list-item;}
button, [type="button"], [type="reset"], [type="submit"] {-webkit-appearance: button;}
button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {border-style: none;padding: 0;}
button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {outline: 1px dotted ButtonText;}  [type="checkbox"], [type="radio"] {box-sizing: border-box;padding: 0;}
[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {height: auto;}
[type="search"] {-webkit-appearance: textfield;outline-offset: -2px;}
[type="search"]::-webkit-search-decoration {-webkit-appearance: none;}
::-webkit-file-upload-button {-webkit-appearance: button;font: inherit;}
[hidden], template {display: none;}
/*重置input和textarea的默认样式*/
input {resize: none;box-sizing: border-box;border: none;border: 0;outline: none;background: none;}
textarea {resize: none;box-shadow:0 0 0 rgba(0,0,0,0);-webkit-appearance:none;}
/* E css-normalize */
/* S css-base */
.oh, .over-h {overflow: hidden;}
/* 浮动 */
.clearfix:after, .clear:after {content: '';display: block;height: 0;line-height: 0;visibility: hidden;clear: both;}
.f-l, .l {float: left;}
.f-r, .r {float: right;}
/* display */
.d-b, .show {display: block;}
.d-n, [hidden], .hide {display: none;}
.d-f {display: -webkit-box;display: -ms-flexbox;display: flex;}
.d-ib {display: inline-block;}
/* position */
.pos-f {position: fixed;}
.pos-r {position: relative;}
.pos-a {position: absolute;}
.pos-top {top: 0;bottom: auto;}
.pos-left {left: 0;right: auto;}
.pos-right {right: 0;left: auto;}
.pos-bottom {bottom: 0;top: auto;}
/* 字体对齐方式和粗细设置 */
.text-l, .t-l {text-align: left;}
.text-r, .t-r {text-align: right;}
.text-c, .t-c {text-align: center;}
.va-t {vertical-align: top;}
.va-m {vertical-align: middle;}
.va-b {vertical-align: bottom;}
.font-b {font-weight: bold;}
.font-n {font-weight: normal;}
/* 文字单行溢出省略号 */
.text-overflow {overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
/* 字体大小 */
.font-10 {font-size: 10px;}
.font-12 {font-size: 12px;}
.font-14 {font-size: 14px;}
.font-16 {font-size: 16px;}
.font-18 {font-size: 18px;}
.font-20 {font-size: 20px;}
.font-22 {font-size: 22px;}
.font-24 {font-size: 24px;}
.font-26 {font-size: 26px;}
.font-28 {font-size: 28px;}
.font-30 {font-size: 30px;}
/* E css-base */
[v-cloak] {display: none;}
.interval {margin-top: 20px;}

::-webkit-scrollbar-track-piece {background-color:#f5f5f5;}
::-webkit-scrollbar {width:8px;height:8px;}
::-webkit-scrollbar-thumb {background-color:#ddd;background-clip:padding-box;min-height:28px;}
::-webkit-scrollbar-thumb:hover {background-color:#bbb;}
