body {
  margin: 0;
}

/* public status colors */
.color--green {
  color: #67c23a;
}
.color--blue {
  color: #409eff;
}
.color--orange {
  color: #e6a23c;
}
.color--red {
  color: #f56c6c;
}
.color--grey {
  color: #606266;
}

.development-ribbon {
  content: '';
  background-image: url('/assets/images/staging-tip.svg');
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  left: 0;
  height: 120px;
  width: 120px;
  z-index: 1;
}

@media screen and (min-width: 1200px) { /* width > 1200, 部分双栏 */
  /* container */
  .plan__view,
  .drone,
  .depot {
    display: flex;
    flex-wrap: wrap;
  }

  /* plan */
  .plan__history {
    width: 100%;
  }
  .plan__view .sd-card {
    flex-grow: 1;
  }
  .sd-map .el-card__body {
    height: calc(100% - 73px); /* 73 = 36 + 12*2 + 1 */
  }
  .map__el {
    height: 100%;
  }

  /* drone & depot */
  .battery,
  .control,
  .debug {
    width: 100%;
  }

  /* drone */
  .drone__status {
    width: 100%;
  }
  .drone .monitor,
  .drone .sd-map {
    width: calc(50% - 2px);
  }

  /* depot */
  .depot .monitor {
    width: calc(100% - 604px);
  }
  .depot .weather .el-card__body {
    height: calc(100% - 73px);
  }
}

@media screen and (min-width: 1580px) { /* width > 1580, 全部双栏 */
  /* drone & depot */
  .battery,
  .control,
  .debug {
    width: calc(50% - 2px);
  }
}
